<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас </title>
    
    <link rel="stylesheet" href="about.css">
    <link rel="icon" href="картинка тут такая то будет">
</head>
<body class="back"> 
    <div class="container">
        <h1>О нас</h1>
        <p class="home">Гостиница расположена в прекрасном месте, где вы можете наслаждаться красотой природы и уютом наших номеров.</p>
        <p class="home">Мы стремимся предоставить нашим гостям высококачественный сервис и незабываемый отдых. Наши номера оборудованы всем необходимым для комфортного проживания.</p>
        <div style ="display:flex" ><i>Если у вас есть какие-либо вопросы или требования, пожалуйста, <a href="contact.html">свяжитесь с нами</a> , и мы с радостью поможем вам.</i>
        </div>
        <p class="home">Спасибо за выбор нашей гостиницы!</p>
        <img src="hotel.jpg">
    </div>
  <!--<p><a href="contact.html">Контакты</a></p>-->
</body>
</html>