{% extends 'app/layout.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
      .icon-image {
          width: 50px;
          height: 50px;
      }
      .icon-text {
          font-size: 14px;
          margin-top: 5px;
      }
      .list-inline-item {
          text-align: center;
          margin-bottom: 20px; /* Отступ между блоками */
      }
  </style>
</head>

  <body>
      <div class="container">
          <div class="row">
              {% comment %} <div class="col-12">
                  <img src="{% static 'media\img\forest.png' %}" class="img-fluid" alt="Изображение на всю ширину страницы">
              </div> {% endcomment %}
          </div>


          <div class="row g-0 text-left">
            <div class="col-sm-6 col-md-4" style="font-size: 36px;">
              Возможности нашего отеля:
          </div>
              <div class="col-6 col-md-8">

                <div id="carouselIndex" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="{% static 'media\img\cafe\cafe1.jpg' %}" class="d-block w-100" alt="Slide 1">
                      </div>
                      <div class="carousel-item">
                          <img src="{% static 'media\img\1111.jpg' %}" class="d-block w-100" alt="Slide 2">
                      </div>
                      <div class="carousel-item">
                          <img src="{% static 'media\img\film_room\f1.jpg' %}" class="d-block w-100" alt="Slide 3">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'media\img\sp1.jpg' %}" class="d-block w-100" alt="Slide 3">
                    </div>
                  </div>
                </div>

              </div>
          </div>



          <div style="margin-top: 40px;"></div>

          <div class="row">
              <div class="col-md-12">
                  <h2 style="text-align: center">Наш отель предлагает:</h2>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="features-icons">
                      <div class="features-icons-inner">
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <a class="facilities_icon_anchor" href="/rooms/" data-anchor="toad">
                                      <span>Номера</span>
                                      <img src="{% static 'media\img\icons\1.png' %}" class="icon-image">
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="facilities_icon_anchor" href="#" data-anchor="toad">
                                      <span>Конференц-зал</span>
                                      <img src="{% static 'media\img\icons\2.png' %}" class="icon-image">
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="facilities_icon_anchor" href="#" data-anchor="toad">
                                      <span>Ресторан</span>
                                      <img src="{% static 'media\img\icons\3.png' %}" class="icon-image">
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="facilities_icon_anchor" href="#" data-anchor="toad">
                                      <span>СПА</span>
                                      <img src="{% static 'media\img\icons\4.png' %}" class="icon-image">
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="facilities_icon_anchor" href="#" data-anchor="toad">
                                      <span>Домашние животные</span>
                                      <img src="{% static 'media\img\icons\7.png' %}" class="icon-image">
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="facilities_icon_anchor" href="#" data-anchor="toad">
                                      <span>Парковка</span>
                                      <img src="{% static 'media\img\icons\8.png' %}" class="icon-image">
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>


          <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center">Другие возможности:</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2">
              <div class="card" style="height: 150px;">
                    <div class="card-body">
                        <div style="text-align: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#333" class="bi bi-p-square-fill" viewBox="0 0 16 16">
                                <path d="M8.27 8.074c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5z"/>
                            </svg>
                        </div>
                        <h5 class="card-title text-center">Номера</h5>
                    </div>
                </div>
            </div>
            <!-- карточки -->
            <div class="col-sm-2">
              <div class="card" style="height: 150px;">
                  <div class="card-body">
                      <div style="text-align: center;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#333" class="bi bi-p-square-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .447.276L8.81 1h4.69A1.5 1.5 0 0 1 15 2.5V11h.5a.5.5 0 0 1 0 1h-2.86l.845 3.379a.5.5 0 0 1-.97.242L12.11 14H3.89l-.405 1.621a.5.5 0 0 1-.97-.242L3.36 12H.5a.5.5 0 0 1 0-1H1V2.5A1.5 1.5 0 0 1 2.5 1h4.691l.362-.724A.5.5 0 0 1 8 0M2 11h12V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5zm9.61 1H4.39l-.25 1h7.72z"/>
                          </svg>
                      </div>
                      <h5 class="card-title text-center"> Конференц-зал</h5>
                   
                  </div>
              </div>
          </div>
            
          

          <div class="col-sm-2">
            <div class="card" style="height: 150px;">
                <div class="card-body">
                    <div style="text-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#333" class="bi bi-p-square-fill" viewBox="0 0 16 16">
                            <path d="M8.27 8.074c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5z"/>
                        </svg>
                    </div>
                    <h5 class="card-title text-center">Ресторан</h5>
                 
                </div>
            </div>
        </div>

            <div class="col-md-2">
              <div class="card" style="height: 150px;">
                  <div class="card-body">
                      <div style="text-align: center;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#333" class="bi bi-p-square-fill" viewBox="0 0 16 16">
                              <path d="M8.27 8.074c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
                              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5z"/>
                          </svg>
                      </div>
                      <h5 class="card-title text-center"> СПА</h5>
                  
                  </div>
              </div>
          </div>

          <div class="col-md-2">
            <div class="card" style="height: 150px;">
                <div class="card-body">
                    <div style="text-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#333" class="bi bi-p-square-fill" viewBox="0 0 16 16">
                            <path d="M8.27 8.074c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5z"/>
                        </svg>
                    </div>
                    <h5 class="card-title text-center">Домашние животные</h5>
                 
                </div>
            </div>
        </div>
        

        <div class="col-md-2">
          
          <div class="card" style="height: 150px;">
              <div class="card-body">
                  <div style="text-align: center;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#333" class="bi bi-p-square-fill" viewBox="0 0 16 16">
                          <path d="M8.27 8.074c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
                          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5z"/>
                      </svg>
                  </div>
                  <h5 class="card-title text-center">Парковка</h5>
               
              </div>
          </div>
      </div>


          </div>





          <div class="row">
              <div class="col-md-12">
                  <h2 style="text-align: center">Другие возможности:</h2>
              </div>
          </div>

          <div class="row">
              <div class="col-md-4">
                  <div class="card">
                      <img src="{% static 'media\img\pool\pool1.webp' %}" class="card-img-top" alt="Изображение">
                      <div class="card-body">
                          <h5 class="card-title">Бассейн</h5>
                          <p class="card-text">Отдохните и расслабьтесь в нашем бассейне после насыщенного дня.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="{% static 'media\img\cafe\cafe1.jpg' %}" class="card-img-top" alt="Изображение">
                      <div class="card-body">
                          <h5 class="card-title">Кафе</h5>
                          <p class="card-text">Попробуйте наши изысканные блюда и напитки в уютной атмосфере кафе.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img src="{% static 'media\img\sp1.jpg' %}" class="card-img-top" alt="Изображение">
                      <div class="card-body">
                          <h5 class="card-title">Фитнес-центр</h5>
                          <p class="card-text">Поддерживайте свою форму в нашем современном фитнес-центре.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script>
        $(document).ready(function () {
          $('#carouselIndex').carousel({
              interval: 5000 // интервал между слайдами в миллисекундах
          });
            });
    </script>

    </body>    
{% endblock %}
