body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-image:url(contact.jpg)
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.home {
    line-height: 1.6;
    margin-left:auto;
}
h2 {
    text-align: right;
    margin-bottom: 20px;
}

.back{
    background-image: url(back.jpg); 
    background-color: #c7b39b; 
}


